:root {
	--code-sample-fontSize: 14px;
	--code-sample-bg:#263237;
	--code-sample-process-height: 20px;
	--code-sample-process-bg:#0a2540;
	--code-sample-process-mode-bg: #216688;
	--code-sample-process-mode-insert-bg: #756c3d;
	--code-sample-process-color:#82AAFF;
	--code-sample-terminal-color:white;
	--code-sample-terminal-cursor-color:var(--code-sample-process-color);
}

.codeSample {
	width:100%;
	font-family: "Roboto Mono" !important;
	font-size:var(--code-sample-fontSize);
	border-radius:4px;
	overflow: hidden;
	background:var(--code-sample-bg);
}

.codeSample .editor {
	padding:30px 0px 0px 0px;
	position: relative;
	height:170px;
	font-size:var(--code-sample-fontSize);
	overflow:hidden;
}

.codeSample .editor:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	/* A little hack to display the window buttons in one pseudo element. */
	background: #d9515d;
	-webkit-box-shadow: 20px 0 0 #f4c025, 40px 0 0 #3ec930;
			box-shadow: 20px 0 0 #f4c025, 40px 0 0 #3ec930;
}

.codeSample .editor .CodeMirror {
	overflow:hidden;
}

.codeSample .editor .CodeMirror .CodeMirror-hscrollbar,
.codeSample .editor .CodeMirror .CodeMirror-vscrollbar {
	overflow-x: hidden;
	overflow-y: hidden;
}

.codeSample .process {
	height:var(--code-sample-process-height);
	width:100%;
	background:var(--code-sample-process-bg);
	font-size:var(--code-sample-fontSize);
	display:block;
	color:var(--code-sample-process-color);
	overflow:hidden;
}

.codeSample .process .left {
	float:left;
}

.codeSample .process .mode {
	background:var(--code-sample-process-mode-bg);
	position:relative;
	color:white;
	padding:0px 5px;
	display:inline-block;
	height:var(--code-sample-process-height);
}

.codeSample .process .mode.mode-insert {
	background: var(--code-sample-process-mode-insert-bg);
}

.codeSample .process .mode::after {
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 0;
    height: 0;
    border-left: 10px solid var(--code-sample-process-mode-bg);
    border-bottom: calc(var(--code-sample-process-height)/2) solid transparent;
    border-right: 0 solid transparent;
    border-top: calc(var(--code-sample-process-height)/2) solid transparent;
}

.codeSample .process .mode.mode-insert::after {
	border-left-color: var(--code-sample-process-mode-insert-bg);
}

.codeSample .process .filename {
	display:inline-block;
	padding:0px 5px 0px 20px;
}

.codeSample .process .right {
	float:right;
}

.codeSample .process .view {
	display:inline-block;
	padding:0px 10px 0px 0px;
}

.codeSample .process .lines {
	display:inline-block;
	padding:0px 10px 0px 0px;
}

.codeSample .terminal {
	color:var(--code-sample-terminal-color);
	height:120px;
	padding:10px 20px;
}

.codeSample .terminal .line {
	display:block;
	width:100%;
	margin:1px 0px;
	height:20px;
	overflow:hidden;
}

.codeSample .terminal .line.input::before {
	content:"$";
	color:var(--code-sample-terminal-cursor-color);
	padding:0px 10px 0px 0px;
}

.codeSample .terminal .line .time {
	color:var(--code-sample-terminal-cursor-color);
	padding:0px 10px 0px 0px;
}
